<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/static/styles.css">
		<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <title>Rss viewer</title>
  </head>
  <body>
		<a href="/">Home</a>
		{{if .Id}}
			<h1>Edit</h1>
		{{else}}
			<h1>New</h1>
		{{end}}
		<form method="POST" action="/feeds/edit">
				<input id="Name" type="hidden"  name="Id" value="{{.Id}}"/>
			<div>
				<label for="Name">Name</label>
				<input id="Name" type="text"  name="Name" value="{{.Name}}" autocomplete="off" required/>
			</div>
			<div>
				<label for="URL">URL</label>
				<input id="URL" type="text"  name="URL" value="{{.URL}}" autocomplete="off" required/>
			</div>
			<div id="action-btns">
				<input type="submit" value="Save"/>
				{{if .Id}}
					<a href="/feeds/delete/{{.Id}}">Delete</a>
				{{end}}
			</div>
		</form>
  </body>
</html>

