<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/static/styles.css">
		<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <title>Rss viewer</title>
  </head>
  <body>
		<a href="/">home</a>
			{{range .Channels}} 
			<h1><a href="{{.Link}}">{{.Title}}</a></h1>
			<p>{{.Description}}</p>
				<ul>
					{{range .Items}}
						<li>
							<a href="{{.Link}}" target="_blank">{{.Title}}</a>
							<p>{{.Description}}</p>
						</li>
					{{end}}
				</ul>
			{{end}}
  </body>
</html>

