@import "styles.css";

#feed-list{
	padding-left: 0;
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	max-width: 30rem;
}

#feed-item{
	color: black;
	background-color: white;
	border-radius: 4px;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
}

#feed-item > a{
	color: black;
}
