{{ define "edit" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/static/styles.css">
		<link rel="icon" type="image/x-icon" href="/static/favicon.svg">
    <title>Rss viewer</title>
  </head>
  <body>
		{{ template "nav"}}
		<main class="mt-12 lg:mt-0 lg:ml-12">
			<form method="POST" action="/feeds/edit">
					<input id="Id" type="hidden"  name="Id" value="{{ .Id }}"/>
				<div>
					<label for="URL">URL</label>
					<input id="URL" type="text" name="URL" value="{{ .URL }}" autocomplete="off" required autofocus/>
				</div>
				<div id="action-btns">
					<input type="submit" value="Save"/>
					{{if .Id }}
						<a href="/feeds/delete/{{ .Id }}">Delete</a>
					{{end}}
				</div>
			</form>
		</main>
  </body>
</html>
{{ end }}
