{{ define "feeds" }}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/static/styles.css">
		<link rel="icon" type="image/x-icon" href="/static/favicon.svg">
    <title>Rss viewer</title>
  </head>
  <body>
		{{ template "nav" }}
		<main class="ml-14">
			<ul class="flex flex-wrap p-2 gap-2">
			{{range .Data}}
					<li class="bg-gray-100 border rounded-md px-2 w-screen lg:w-48 h-24 flex flex-col justify-between">
						<h2 class="font-semibold">{{.Title}}</h2>
						<div class="self-end">
							<a href="/feeds/edit/{{.Id}}" class="hover:underline p-2">Edit</a>
							<a href="/feeds/delete/{{.Id}}" class="hover:underline text-red-500">Delete</a>
						</div>
					</li>
			{{end}}
			</ul>
		</main>
  </body>
</html>
{{ end }}
