{{ define "feeds" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/static/styles.css">
		<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <title>Rss viewer</title>
  </head>
  <body>
		{{ template "nav" }}
			<ul class="flex flex-col gap-y-2 ml-12">
			{{range .}}
					<li class="bg-gray-100 border rounded-md px-2 max-w-7xl">
						<h2 class="font-medium underline">{{.Title}}</h2>
						<a href="/feeds/edit/{{.Id}}">Edit</a>
						<a href="/feeds/delete/{{.Id}}">Delete</a>
					</li>
			{{end}}
			</ul>
  </body>
</html>
{{ end }}
