{{define "index"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/static/styles.css">
		<link rel="icon" type="image/x-icon" href="/static/favicon.svg">
    <title>Rss viewer</title>
  </head>
  <body>
		<script src="/static/htmx.js"></script>
		{{template "nav" .}}
		<main class="ml-14 bg-orange-50 grid grid-cols-4">
			<aside class="overflow-y-auto h-screen border-r bg-white">
				{{range .Data}} 
				<a hx-get="/feed_entries/show/{{ .Id }}" hx-target="#description-area">
					<div class="border-b h-24 px-2 hover:bg-gray-200">
						<p class="font-semibold">{{.Title}}</p>
						<p class="text-sm text-gray-500">{{.PubDate.String}}</p>
					</div>
				</a>
				{{end}}
			</aside>
			<div class="col-span-3 h-screen overflow-y-auto">
				<article id="description-area" class="max-w-5xl mx-auto">
					<a href="{{(index .Data 0).Link}}">
						<h2 class="font-semibold text-xl text-center">{{(index .Data 0).Title}}</h2>
					</a>
					<p class="text-sm text-gray-500 text-center">{{(index .Data 0).PubDate}}</p>
					<p>{{(index .Data 0).Description}}</p>
				</article>
			</div>
		</main>
  </body>
</html>
{{end}}
