<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/static/styles.css">
		<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <title>Rss viewer</title>
  </head>
  <body>
		<a href="/" class="font-semibold text-2xl underline">Home</a>
			<h1><a href="{{.Link}}">{{.Title}}</a></h1>
				<ul>
					{{range .Items}}
						<li>
							<a href="{{.Link}}" target="_blank">{{.Title}}</a>
							<p>{{.Description}}</p>
						</li>
					{{end}}
				</ul>
  </body>
</html>

