<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/static/styles.css">
		<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <title>Rss viewer</title>
  </head>
  <body class="p-2">
		<a href="/" class="underline">Home</a>
			<h1 class="font-semibold text-lg pt-2"><a href="{{.Link}}">{{.Title}}</a></h1>
				<ul class="flex flex-col gap-y-2 py-2">
					{{range .Items}}
						<li class="bg-gray-100 border rounded-md px-2 max-w-7xl">
							<a href="{{.Link}}" target="_blank">
								<h2 class="font-medium underline">{{.Title}}</h2>
								<p>{{.Description}}</p>
							</a>
						</li>
					{{end}}
				</ul>
  </body>
</html>

