<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/static/styles.css">
		<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <title>Rss viewer</title>
  </head>
  <body>
		<script src="/static/htmx.js" async></script>
		<nav class="flex items-center gap-x-2 p-2 sticky top-0 bg-lime-400 z-10">
			<h1 class="font-semibold text-2xl flex-1"><a href="/">Home</a></h1>
			<a href="/feeds/list" class="underline">Settings</a>
		</nav> 
		<div class="grid grid-cols-4 h-screen">
			<div class="overflow-y-auto hidden lg:block">
				{{range .}} 
				<a hx-get="/feed_entries/show/{{.Id}}" hx-target="#description-area">
					<div class="border-b border-t border-r h-24 px-2 hover:bg-gray-200">
						<p class="font-semibold">{{.Title}}</p>
						<p class="text-sm text-gray-500">{{.PubDate.String}}</p>
					</div>
				</a>
				{{end}}
			</div>
				<div id="description-area" class="col-span-4 lg:col-span-3 overflow-y-auto sticky top-10 p-2"></div>
		</div>
  </body>
	<script>

	</script>
</html>
