<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/static/index.css">
		<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <title>Rss viewer</title>
  </head>
  <body>
		<h1>Home</h1>
		<ul id="feed-list">
			{{range .}} 
				<li id="feed-item">
					<a href="/feeds/show/{{.Id}}">{{.Name}}</a>
					<a href="/feeds/edit/{{.Id}}">Edit</a>
				</li>
			{{end}}
		</ul>
		<a href="/feeds/edit">New</a>
  </body>
</html>

